<body>

<h3>Citizen Services!</h3>

<div style="text-align: justify;font-size: 80%;">

    <p>Using this app any user can use CCTNS citizen services features
        i.e. complaint registration, search complaint status, SOS
        , missing person search, emergency contact, district police station contact detail</p>

<p>One of the important feature of this app is Citizen Complaint Registration.</p>

    <p>Complaint Registration Mobile App is an initiative of <b>Crime and Criminals Tracking Network and Systems (CCTNS)</b> for online reporting of grievances/complaints. The Citizen can easily register a complaint through this App to a Police Station.</p>

<p>The user gets a Registration Number after successful Registration of Complaint which can be used for   further reference. </p>

<p>This Centralized citizen Apps helps to locate all the Police Stations all over India and helps to register a complaint to any Police Station in India. This App helps citizen to connect with Police personnel so easily and service can be utilized effectively.</p>

</div>
</body>